nav{
    background-color: #191919;
    height: 10dvh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

.main{
    font-size: 2rem;
    font-weight: bolder;
}

.subtext{
    font-size:1.5rem;
}

@media (max-width: 768px){
    nav{
        height:7dvh;
    }
    .main{
        font-size: 4vw;
        font-weight: bolder;
    }
    
    .subtext{
        font-size:2vw;
    }
}
